body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px; }

* {
  box-sizing: border-box; }

a {
  font-family: 'Inconsolata', sans-serif;
  color: #222222;
  text-decoration: none;
  transition: 0.2s; }

.link__mailto {
  font-weight: 600;
  text-decoration: underline; }
  .link__mailto:hover {
    color: #4777fb; }

button {
  font-family: 'Inconsolata', sans-serif;
  border-radius: 28px;
  padding: 17px 32px;
  transition: 0.2s; }

.button__colored {
  font-weight: 700;
  background-color: #4777fb;
  color: white;
  border: none; }

.button__transparent {
  font-weight: 600;
  color: #272d3d;
  background-color: transparent;
  border: 1px solid #b1b2b8; }

.description {
  line-height: 1.5em;
  color: #676c7a; }

.section_caption {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 600;
  color: #4777fb; }

.section_title {
  line-height: 1.3em;
  font-weight: 700;
  font-size: 40px;
  color: #272d3d; }

.flex {
  display: flex; }

.flex_column {
  display: flex;
  flex-direction: column; }

.home_page_wrapper {
  border-bottom: 1px solid #dcdde0;
  position: relative;
  padding: 65px;
  background: url("../uploads/images/Background.png") no-repeat center;
  background-size: cover;
  min-height: 900px; }
  .home_page_wrapper .link__mailto {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 190px;
    top: 52px;
    right: 43px; }
  .home_page_wrapper .home_page_nav {
    width: 100px; }
    .home_page_wrapper .home_page_nav img {
      margin-bottom: 30px; }
    .home_page_wrapper .home_page_nav .home_page_nav_list li {
      height: 30px; }
    .home_page_wrapper .home_page_nav .home_page_nav_list a {
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 14px;
      font-family: 'Inconsolata', sans-serif;
      font-weight: 400;
      color: #9699a3; }
      .home_page_wrapper .home_page_nav .home_page_nav_list a:hover {
        color: #272d3d; }
  .home_page_wrapper .home_page_inner {
    margin: 100px auto 0 auto;
    min-height: 455px; }
    .home_page_wrapper .home_page_inner .about_us {
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 35px;
      width: 550px; }
      .home_page_wrapper .home_page_inner .about_us .section_caption {
        margin-bottom: 9px; }
      .home_page_wrapper .home_page_inner .about_us .section_title {
        margin-bottom: 16px; }
      .home_page_wrapper .home_page_inner .about_us .description {
        margin-bottom: 45px; }
      .home_page_wrapper .home_page_inner .about_us .button__colored {
        margin-right: 16px; }
    .home_page_wrapper .home_page_inner .features {
      margin-top: 180px; }
      .home_page_wrapper .home_page_inner .features .description {
        width: 300px;
        min-height: 50px; }
        .home_page_wrapper .home_page_inner .features .description:not(:last-child) {
          margin-right: 48px; }

.services_wrapper {
  justify-content: center;
  padding: 190px 65px 190px 165px;
  min-height: 1200px; }
  .services_wrapper .services_inner {
    width: 1100px; }
    .services_wrapper .services_inner .section_caption {
      margin-bottom: 9px; }
    .services_wrapper .services_inner .section_title {
      font-size: 32px;
      margin-bottom: 95px; }
  .services_wrapper .capabilities {
    border: 1px solid #dcdde0; }
    .services_wrapper .capabilities .capability {
      padding: 10px 50px;
      align-items: center;
      min-height: 340px; }
      .services_wrapper .capabilities .capability:not(:last-child) {
        border-bottom: 1px solid #dcdde0; }
      .services_wrapper .capabilities .capability span {
        margin-right: 30px;
        font-size: 24px; }
      .services_wrapper .capabilities .capability img {
        margin-right: 40px; }
      .services_wrapper .capabilities .capability .capability_title {
        font-weight: 700;
        font-size: 24px;
        color: #272d3d;
        margin-bottom: 16px; }
      .services_wrapper .capabilities .capability ul li:not(:last-child) {
        margin-bottom: 12px; }
      .services_wrapper .capabilities .capability ul li:before {
        display: inline-block;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-bottom: 2px;
        margin-right: 8px;
        background-color: #272d3d; }

#about_us {
  background-color: #f7f8f9; }

.about_us_wrapper {
  justify-content: center;
  padding: 128px 65px 128px 165px;
  min-height: 961px; }
  .about_us_wrapper .about_us_container {
    margin-right: 120px;
    width: 350px; }
    .about_us_wrapper .about_us_container .section_caption {
      margin-bottom: 8px; }
    .about_us_wrapper .about_us_container .section_title {
      font-size: 32px;
      margin-bottom: 20px; }
  .about_us_wrapper .about_us_advantages {
    width: 630px; }
    .about_us_wrapper .about_us_advantages .about_us_advantage .advantage_title {
      font-weight: 700;
      font-size: 18px;
      color: #272d3d;
      margin-bottom: 12px; }
    .about_us_wrapper .about_us_advantages .about_us_advantage:not(:last-child) {
      border-bottom: 1px solid #dcdde0; }
      .about_us_wrapper .about_us_advantages .about_us_advantage:not(:last-child) .description {
        margin-bottom: 32px; }
    .about_us_wrapper .about_us_advantages .about_us_advantage:not(:first-child) {
      margin-top: 32px; }

.cases_wrapper {
  justify-content: center;
  padding: 128px 65px 128px 165px;
  min-height: 1050px; }
  .cases_wrapper .cases_inner {
    overflow: hidden;
    width: 1100px; }
    .cases_wrapper .cases_inner .section_caption {
      margin-bottom: 8px; }
    .cases_wrapper .cases_inner .section_title {
      font-size: 32px; }
    .cases_wrapper .cases_inner .cases_container {
      width: 500px;
      margin-bottom: 80px; }
    .cases_wrapper .cases_inner .solution_offer {
      width: 100%;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid #dcdde0;
      margin-bottom: 45px; }
      .cases_wrapper .cases_inner .solution_offer .solution_title {
        align-self: flex-end;
        font-size: 28px;
        color: #272d3d; }
      .cases_wrapper .cases_inner .solution_offer button {
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #b1b2b8; }
      .cases_wrapper .cases_inner .solution_offer .button__back {
        position: relative;
        margin-right: 16px; }
        .cases_wrapper .cases_inner .solution_offer .button__back::after {
          top: 19px;
          left: 20px;
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          transform: rotate(135deg);
          border-bottom: 1px solid #272d3d;
          border-right: 1px solid #272d3d; }
      .cases_wrapper .cases_inner .solution_offer .button__next {
        position: relative;
        margin-right: 16px; }
        .cases_wrapper .cases_inner .solution_offer .button__next::after {
          top: 19px;
          left: 16px;
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          transform: rotate(-45deg);
          border-bottom: 1px solid #272d3d;
          border-right: 1px solid #272d3d; }
    .cases_wrapper .cases_inner .slider_container {
      transition: 0.3s; }
      .cases_wrapper .cases_inner .slider_container .offer_specification {
        margin-bottom: 48px; }
        .cases_wrapper .cases_inner .slider_container .offer_specification img {
          margin-right: 50px; }
        .cases_wrapper .cases_inner .slider_container .offer_specification .offer_description_title {
          font-weight: 500;
          color: #272d3d;
          margin-bottom: 8px; }
        .cases_wrapper .cases_inner .slider_container .offer_specification .description:not(:last-child) {
          margin-bottom: 24px; }
      .cases_wrapper .cases_inner .slider_container .offer_result {
        justify-content: space-between;
        height: fit-content; }
        .cases_wrapper .cases_inner .slider_container .offer_result .offer_result_description {
          width: 700px;
          background-color: #f7f8f9;
          padding: 32px;
          margin-right: 30px; }
          .cases_wrapper .cases_inner .slider_container .offer_result .offer_result_description .offer_description_title {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 18px; }
          .cases_wrapper .cases_inner .slider_container .offer_result .offer_result_description p.description {
            margin-bottom: 20px; }
          .cases_wrapper .cases_inner .slider_container .offer_result .offer_result_description ul li:not(:last-child) {
            margin-bottom: 8px; }
          .cases_wrapper .cases_inner .slider_container .offer_result .offer_result_description ul li:before {
            display: inline-block;
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin-bottom: 2px;
            margin-right: 8px;
            background-color: #272d3d; }
      .cases_wrapper .cases_inner .slider_container .offer_discus {
        width: 370px;
        justify-content: space-between;
        padding: 32px;
        height: content-box;
        color: white;
        background-color: #272d3d; }
        .cases_wrapper .cases_inner .slider_container .offer_discus .offer_discus_title {
          font-size: 25px; }
        .cases_wrapper .cases_inner .slider_container .offer_discus .button__transparent {
          color: white; }

.workflow_wrapper {
  min-height: 1000px;
  padding: 128px 65px 128px 165px;
  justify-content: center; }
  .workflow_wrapper .workflow_inner {
    width: 1100px; }
    .workflow_wrapper .workflow_inner .workflow_container {
      margin-bottom: 60px; }
      .workflow_wrapper .workflow_inner .workflow_container .section_caption {
        margin-bottom: 8px; }
      .workflow_wrapper .workflow_inner .workflow_container .section_title {
        font-size: 32px; }
    .workflow_wrapper .workflow_inner .workflow_stages {
      width: 100%;
      display: grid;
      grid-template-columns: 442px 65px 1fr;
      grid-column-gap: 75px;
      grid-row-gap: 95px; }
      .workflow_wrapper .workflow_inner .workflow_stages .stage_cycle {
        align-items: center;
        grid-column: 2/3;
        grid-row: 1/4; }
        .workflow_wrapper .workflow_inner .workflow_stages .stage_cycle .stage_circle {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          border: 1px solid #dcdde0; }
          .workflow_wrapper .workflow_inner .workflow_stages .stage_cycle .stage_circle .stage_number {
            font-size: 24px;
            color: #272d3d; }
        .workflow_wrapper .workflow_inner .workflow_stages .stage_cycle .stage_line {
          width: 2px;
          height: 335px;
          border: 1px solid #dcdde0; }
      .workflow_wrapper .workflow_inner .workflow_stages .stage_description .stage_description_title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 16px; }
      .workflow_wrapper .workflow_inner .workflow_stages .stage_description ul li:not(:last-child) {
        margin-bottom: 12px; }
      .workflow_wrapper .workflow_inner .workflow_stages .stage_description ul li:before {
        display: inline-block;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-bottom: 2px;
        margin-right: 8px;
        background-color: #272d3d; }

#our_team {
  background-color: #f7f8f9; }

.our_team_wrapper {
  justify-content: center;
  padding: 128px 65px 128px 165px;
  min-height: 1000px; }
  .our_team_wrapper .our_team_inner {
    width: 1100px; }
    .our_team_wrapper .our_team_inner .our_team_title_container {
      margin-bottom: 95px; }
      .our_team_wrapper .our_team_inner .our_team_title_container .section_caption {
        margin-bottom: 8px; }
      .our_team_wrapper .our_team_inner .our_team_title_container .section_title {
        font-size: 32px; }
    .our_team_wrapper .our_team_inner .our_team_container {
      display: grid;
      grid-column-gap: 125px;
      grid-row-gap: 105px;
      grid-template-columns: repeat(auto-fit, 252px); }
      .our_team_wrapper .our_team_inner .our_team_container .developer {
        width: 252px; }
        .our_team_wrapper .our_team_inner .our_team_container .developer img {
          margin-bottom: 20px; }
        .our_team_wrapper .our_team_inner .our_team_container .developer .developers_name {
          margin-bottom: 8px;
          font-size: 18px;
          font-weight: 700; }
        .our_team_wrapper .our_team_inner .our_team_container .developer .developers_position {
          margin-bottom: 12px;
          font-size: 14px;
          color: #9699a3; }

.technology_wrapper {
  padding: 128px 65px 128px 165px;
  min-height: 1000px;
  justify-content: center; }
  .technology_wrapper .technology_inner {
    width: 1100px;
    overflow: hidden; }
    .technology_wrapper .technology_inner .technology_title_container .section_caption {
      margin-bottom: 8px; }
    .technology_wrapper .technology_inner .technology_title_container .section_title {
      font-size: 32px;
      margin-bottom: 95px; }
    .technology_wrapper .technology_inner .technology_options {
      margin-bottom: 65px;
      align-items: center;
      height: 30px;
      border-bottom: 1px solid #dcdde0; }
      .technology_wrapper .technology_inner .technology_options button {
        position: relative;
        margin-bottom: 15px;
        height: 100%;
        font-family: 'DM Sans', sans-serif;
        background-color: transparent;
        padding: 0;
        border: none;
        font-size: 18px;
        color: #9699A3; }
        .technology_wrapper .technology_inner .technology_options button:not(:last-child) {
          margin-right: 45px; }
        .technology_wrapper .technology_inner .technology_options button.underline {
          color: #272D3D; }
          .technology_wrapper .technology_inner .technology_options button.underline::after {
            position: absolute;
            content: "";
            border: 1px solid #272d3d;
            bottom: -7px;
            left: 0;
            right: 0; }
    .technology_wrapper .technology_inner .technology_slider_container {
      width: 1100px;
      transition: 0.3s; }
      .technology_wrapper .technology_inner .technology_slider_container .technology_slide {
        min-width: 1100px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 158px);
        grid-column-gap: 127px; }
