body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  font-family: 'Inconsolata', sans-serif;
  color: #222222;
  text-decoration: none;
  transition: 0.2s;
}

.link__mailto {
  font-weight: 600;
  text-decoration: underline;

  &:hover {
    color: rgba(71, 119, 251, 1);
  }
}

button {
  font-family: 'Inconsolata', sans-serif;
  border-radius: 28px;
  padding: 17px 32px;
  transition: 0.2s;
}

.button__colored {
  font-weight: 700;
  background-color: rgba(71, 119, 251, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

.button__transparent {
  font-weight: 600;
  color: rgba(39, 45, 61, 1);
  background-color: transparent;
  border: 1px solid rgba(177, 178, 184, 1);
}

.description {
  line-height: 1.5em;
  color: rgba(103, 108, 122, 1);
}

.section_caption {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 600;
  color: rgba(71, 119, 251, 1);
}

.section_title {
  line-height: 1.3em;
  font-weight: 700;
  font-size: 40px;
  color: rgba(39, 45, 61, 1);
}

.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.home_page_wrapper {
  position: relative;
  padding: 65px;
  background: url("../uploads/images/Background.png") no-repeat center;
  background-size: cover;
  min-height: 900px;

  .link__mailto {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 190px;
    top: 52px;
    right: 43px;
  }

  .home_page_nav {
    width: 100px;

    img {
      margin-bottom: 30px;
    }

    .home_page_nav_list {
      li {
        height: 30px;
      }

      a {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 14px;
        font-family: 'Inconsolata', sans-serif;
        font-weight: 400;
        color: rgba(150, 153, 163, 1);

        &:hover {
          color: rgba(39, 45, 61, 1);
        }
      }
    }
  }

  .home_page_inner {
    margin: 100px auto 0 auto;
    min-height: 455px;

    .about_us {
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 35px;
      width: 550px;

      .section_caption {
        margin-bottom: 9px;
      }

      .section_title {
        margin-bottom: 16px;
      }

      .description {
        margin-bottom: 45px;
      }

      .button__colored {
        margin-right: 16px;
      }
    }

    .features {
      margin-top: 180px;

      .description {
        width:300px;
        min-height: 50px;
        &:not(:last-child){
          margin-right:48px;
        }
      }
    }
  }
}