:root {
  --wrapper_padding: 65px 65px 65px 165px;
  --inner_width: 1100px;
}

a:focus {
  outline: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  transition: 0.3s
}

.button__menu {
  display: none;
  z-index: 100;
  cursor: pointer;
  align-items: center;
  position: fixed;
  top: 65px;
  right: 65px;
  width: 28px;
  height: 16px;

  &::after {
    transition: 0.3s;
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: rgba(39, 45, 61, 1);
  }

  &::before {
    transition: 0.3s;
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: rgba(39, 45, 61, 1);
  }

  .dash {
    transition: 0.3s;
    opacity: 1;
    height: 2px;
    background-color: rgba(39, 45, 61, 1);
    width: 100%;
  }
}

.button__menu_close {
  &::after {
    transform: rotate(-45deg);
    bottom: 7px;
  }

  &::before {
    transform: rotate(45deg);
    top: 7px;
  }

  .dash {
    opacity: 0;
  }
}

a {
  font-family: 'Inconsolata', sans-serif;
  color: #222222;
  text-decoration: none;
  transition: 0.2s;
}

.link__mailto {
  font-weight: 600;
  text-decoration: underline;

  &:hover {
    color: rgba(71, 119, 251, 1);
  }
}

button {
  font-family: 'Inconsolata', sans-serif;
  border-radius: 28px;
  padding: 17px 32px;
  transition: 0.2s;
}

.button__colored {
  font-weight: 700;
  background-color: rgba(71, 119, 251, 1);
  color: rgba(255, 255, 255, 1);
  border: none;

  &:hover {
    background-color: rgba(65, 109, 229, 1);
  }
}

.button__transparent {
  font-weight: 600;
  color: rgba(39, 45, 61, 1);
  background-color: transparent;
  border: 1px solid rgba(177, 178, 184, 1);

  &:hover {
    color: rgba(71, 119, 251, 1);
    background-color: rgba(235, 240, 255, 1);
    border-color: rgba(71, 119, 251, 1);
  }
}

.dot:before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-bottom: 2px;
  margin-right: 8px;
  background-color: rgba(39, 45, 61, 1);
}

.description {
  line-height: 1.5em;
  color: rgba(103, 108, 122, 1);
}

.section_caption {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 600;
  color: rgba(71, 119, 251, 1);
}

.section_title {
  line-height: 1.3em;
  font-weight: 700;
  font-size: 40px;
  color: rgba(39, 45, 61, 1);
}

.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.home_page_image_container {
  display: inline-block;
  position: relative;
  height: fit-content;
  width: fit-content;

  .home_page_gradient {
    position: absolute;
    top: -200px;
    left: -250px;
    z-index: -1;
  }
}

.home_page_wrapper {
  border-bottom: 1px solid rgba(220, 221, 224, 1);
  position: relative;
  padding: var(--wrapper_padding);
  overflow: hidden;
  background-size: cover;
  min-height: 100vh;


  .link__mailto {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 190px;
    top: 52px;
    right: 43px;
  }

  .home_page_nav {
    z-index: 100;
    position: fixed;
    top: 65px;
    left: 65px;
    width: 100px;

    img {
      margin-bottom: 30px;
      cursor: pointer;
    }

    .home_page_nav_list {
      li {
        height: 30px;
      }

      a {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 14px;
        font-family: 'Inconsolata', sans-serif;
        font-weight: 400;
        color: rgba(150, 153, 163, 1);

        &:hover {
          color: rgba(39, 45, 61, 1);
        }
      }
    }
  }

  .home_page_inner {
    margin: 100px auto 0 auto;
    position: relative;

    .burger_menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 80px 30px 30px 30px;
      top: 0;
      right: 0;
      position: fixed;
      z-index: 2;
      transition: 0.3s;
      transform: translateX(300px);
      width: 300px;
      height: 100vh;
      background-color: #FFFFFF;

      .home_page_nav {
        display: block;
        position: static;
      }

      .contacts_container {
        .link__mailto {
          display: block;
          position: static;
          font-size: 14px;
        }

        .social_container {
          img {
            &:first-child {
              margin-right: 12px;
            }
          }
        }
      }
    }


    img[alt="Slash Soft"] {
      width: 68px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }

    .about_us {
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 35px;
      width: 550px;

      .section_caption {
        margin-bottom: 9px;
      }

      .section_title {
        margin-bottom: 16px;
      }

      .description {
        margin-bottom: 45px;
      }

      .button__colored {
        margin-right: 16px;
      }

      .button__transparent {
        i {
          font-size: 15px;
        }
      }
    }

    .features {
      margin-top: 120px;

      .description {
        width: 300px;
        min-height: 50px;

        &:not(:last-child) {
          margin-right: 48px;
        }
      }
    }
  }
}

.services_wrapper {
  justify-content: center;
  padding: var(--wrapper_padding);
  min-height: 1200px;

  .services_inner {
    width: var(--inner_width);

    .section_caption {
      margin-bottom: 9px;
    }

    .section_title {
      font-size: 32px;
      margin-bottom: 95px;
    }
  }


  .capabilities {
    border: 1px solid rgba(220, 221, 224, 1);

    .capability {
      padding: 10px 50px;
      align-items: center;
      min-height: 340px;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(220, 221, 224, 1);
      }

      span {
        margin-right: 30px;
        font-size: 24px;

      }

      img {
        margin-right: 40px;
      }

      .capability_title {
        font-weight: 700;
        font-size: 24px;
        color: rgba(39, 45, 61, 1);
        margin-bottom: 16px;
      }

      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 12px;
          }

          &:before {
            display: inline-block;
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin-bottom: 2px;
            margin-right: 8px;
            background-color: rgba(39, 45, 61, 1);
          }
        }
      }
    }
  }
}

#about_us {
  background-color: rgba(247, 248, 249, 1);
}

.about_us_wrapper {
  justify-content: center;
  padding: var(--wrapper_padding);
  min-height: 600px;

  .about_us_container {
    margin-right: 120px;
    width: 350px;

    .section_caption {
      margin-bottom: 8px;
    }

    .section_title {
      font-size: 32px;
      margin-bottom: 20px;
    }

    .description {
      color: rgba(39, 45, 61, 1);
      font-size: 18px;
      font-weight: 500;
    }
  ;
  }

  .about_us_advantages {
    width: 630px;

    .about_us_advantage {
      .advantage_title {
        font-weight: 700;
        font-size: 18px;
        color: rgba(39, 45, 61, 1);
        margin-bottom: 12px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(220, 221, 224, 1);

        .description {
          margin-bottom: 32px;
        }
      }

      &:not(:first-child) {
        margin-top: 32px;
      }
    }
  }
}

.cases_wrapper {
  justify-content: center;
  padding: var(--wrapper_padding);
  min-height: 300px;

  .cases_inner {
    overflow: hidden;
    width: var(--inner_width);

    .section_caption {
      margin-bottom: 8px;
    }

    .section_title {
      font-size: 32px;
    }

    .cases_container {
      width: 500px;
      margin-bottom: 80px;
    }

    .solution_offer {
      width: 100%;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(220, 221, 224, 1);
      margin-bottom: 45px;

      .solution_title {
        font-weight: 500;
        align-self: flex-end;
        font-size: 28px;
        color: rgba(39, 45, 61, 1);
      }

      button {
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid rgba(177, 178, 184, 1);

        &[disabled="disabled"] {
          &::after {
            border-color: rgba(177, 178, 184, 1);
          }

          &:hover {
            background-color: transparent;
            border: 1px solid rgba(177, 178, 184, 1);
          }
        }

        &:hover {
          background-color: rgba(235, 240, 255, 1);
          border-color: rgba(71, 119, 251, 1);
        }
      }

      .button__back {
        position: relative;
        margin-right: 16px;

        &::after {
          top: 19px;
          left: 20px;
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          transform: rotate(135deg);
          border-bottom: 1px solid rgba(39, 45, 61, 1);
          border-right: 1px solid rgba(39, 45, 61, 1);
        }
      }

      .button__next {
        position: relative;
        margin-right: 16px;

        &::after {
          top: 19px;
          left: 16px;
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          transform: rotate(-45deg);
          border-bottom: 1px solid rgba(39, 45, 61, 1);
          border-right: 1px solid rgba(39, 45, 61, 1);
        }
      }

      button:not([disabled="disabled"]):hover::after {
        border-color: rgba(71, 119, 251, 1);
      }
    }

    .slider_container {
      transition: 0.3s;

      .offer_specification {
        margin-bottom: 48px;

        img {
          margin-right: 50px;
        }

        .offer_description_title {
          font-weight: 500;
          color: rgba(39, 45, 61, 1);
          margin-bottom: 8px;
        }

        .description:not(:last-child) {
          margin-bottom: 24px;
        }
      }

      .offer_result {
        justify-content: space-between;
        height: fit-content;

        .offer_result_description {
          width: 700px;
          background-color: rgba(247, 248, 249, 1);
          padding: 32px;
          margin-right: 30px;

          .offer_description_title {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 18px;
          }

          p.description {
            margin-bottom: 20px;
          }

          ul {
            li {
              &:not(:last-child) {
                margin-bottom: 8px;
              }

              &:before {
                display: inline-block;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin-bottom: 2px;
                margin-right: 8px;
                background-color: rgba(39, 45, 61, 1);
              }
            }
          }
        }
      }

      .offer_discus {
        .offer_discus_title {
          font-size: 25px;
        }

        width: 370px;
        justify-content: space-between;
        padding: 32px;
        height: content-box;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(39, 45, 61, 1);

        .button__transparent {
          color: rgba(255, 255, 255, 1);

          &:hover {
            color: rgba(65, 109, 229, 1);
          }
        }
      }
    }
  }
}

.workflow_wrapper {
  min-height: 500px;
  padding: var(--wrapper_padding);
  justify-content: center;

  .workflow_inner {
    width: var(--inner_width);

    .workflow_container {
      margin-bottom: 60px;

      .section_caption {
        margin-bottom: 8px;
      }

      .section_title {
        font-size: 32px;
      }
    }

    .workflow_stages {
      width: 100%;
      display: grid;
      grid-template-columns: 442px 65px 1fr;
      grid-column-gap: 75px;
      grid-row-gap: 95px;

      .stage_cycle {
        align-items: center;
        grid-column: 2/3;
        grid-row: 1/4;

        .stage_circle {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(220, 221, 224, 1);

          .stage_number {
            font-size: 24px;
            color: rgba(39, 45, 61, 1);
          }
        }

        .stage_line {
          width: 2px;
          height: 335px;
          border: 1px solid rgba(220, 221, 224, 1);
        }
      }

      .stage_description {
        .stage_description_title {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 16px;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 12px;
            }

            &:before {
              display: inline-block;
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 50%;
              margin-bottom: 2px;
              margin-right: 8px;
              background-color: rgba(39, 45, 61, 1);
            }
          }
        }
      }
    }
  }
}

#our_team {
  background-color: rgba(247, 248, 249, 1);
}

.our_team_wrapper {
  justify-content: center;
  padding: var(--wrapper_padding);
  min-height: 1000px;

  .our_team_inner {
    width: var(--inner_width);

    .our_team_title_container {
      margin-bottom: 95px;

      .section_caption {
        margin-bottom: 8px;
      }

      .section_title {
        font-size: 32px;
      }
    }

    .our_team_container {
      display: grid;
      grid-column-gap: 125px;
      grid-row-gap: 105px;
      grid-template-columns: repeat(auto-fit, 252px);

      .developer {
        width: 252px;

        img {
          margin-bottom: 20px;
        }

        .developers_name {
          margin-bottom: 8px;
          font-size: 18px;
          font-weight: 700;
        }

        .developers_position {
          margin-bottom: 12px;
          font-size: 14px;
          color: rgba(150, 153, 163, 1);
        }
      }
    }
  }
}

.technology_wrapper {
  padding: var(--wrapper_padding);
  min-height: 400px;
  justify-content: center;

  .technology_inner {
    width: var(--inner_width);
    overflow: hidden;

    .technology_title_container {
      .section_caption {
        margin-bottom: 8px;
      }

      .section_title {
        font-size: 32px;
        margin-bottom: 95px;
      }
    }

    .technology_options {
      margin-bottom: 65px;
      align-items: center;
      height: 30px;
      border-bottom: 1px solid rgba(220, 221, 224, 1);

      button {
        position: relative;
        margin-bottom: 15px;
        height: 100%;
        font-family: 'DM Sans', sans-serif;
        background-color: transparent;
        padding: 0;
        border: none;
        font-size: 18px;
        color: #9699A3;

        &:not(:last-child) {
          margin-right: 45px;
        }

        &.underline {
          color: #272D3D;

          &::after {
            position: absolute;
            content: "";
            border-bottom: 2px solid rgba(39, 45, 61, 1);
            bottom: -7px;
            left: 0;
            right: 0;
          }
        }

        &:hover {
          color: #272D3D;
        }
      }
    }

    .technology_slider_container {
      width: 100%;
      transition: 0.3s;

      .technology_slide {
        min-width: 100%;
        display: grid;
        grid-template-columns:repeat(auto-fit, 158px);
        grid-column-gap: 128px;
      }
    }
  }
}

.faq_wrapper {
  justify-content: center;
  padding: var(--wrapper_padding);

  .faq_inner {
    width: var(--inner_width);

    .faq_title_container {
      .section_caption {
        margin-bottom: 8px;
      }

      .section_title {
        font-size: 32px;
        margin-bottom: 95px;
      }
    }

    .faq_chat {
      overflow: hidden;
      width: 100%;
      height: 354px;

      .word_description {
        position: relative;
        display: inline-block;
        line-height: 1.3em;
        border-bottom: 1px solid rgba(71, 119, 251, 1);
        background-color: rgba(235, 240, 255, 1);

        &:hover > div {
          display: block;
        }

        div {
          display: none;
          border-radius: 16px;
          position: absolute;
          bottom: -145px;
          padding: 12px;
          left: 0;
          width: 300px;
          background-color: #FFFFFF;
          box-shadow: 0px 4px 8px rgba(39, 45, 61, 0.08), 0px 16px 32px rgba(39, 45, 61, 0.08);

          h3 {
            display:flex;
            justify-content: space-between;
            width: 100%;
            .dot{
              &::before{
                background-color:rgba(71, 119, 251, 1);
              }
            }
            button {
              border: none;
              background-color: transparent;
              display: inline-block;
              padding: 0;

              img {
                height: 15px;
              }
            }

          }

        }

      }

      .faq_chat_slider {
        transition: 0.3s;
      }

      .question {
        border-bottom-left-radius: 28px;
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
        align-self: flex-end;
        margin-bottom: 24px;
        color: #FFFFFF;
        width: 630px;
        padding: 24px 32px;
        background-color: #4777FB;
      }

      .answer {
        margin-bottom: 24px;
        border-bottom-right-radius: 28px;
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
        width: 630px;
        padding: 24px 32px;
        border: 1px solid rgba(220, 221, 224, 1);

        p:first-child {
          margin-bottom: 12px;
        }
      }
    }

    .faq_buttons_container {
      width: 100%;
      height: 120px;
      align-items: center;
      justify-content: flex-end;
      background-color: rgba(247, 248, 249, 1);
      border-top: 1px solid rgba(177, 178, 184, 1);

      .button__colored {
        margin-right: 15px;
      }

      .button__transparent {
        margin-right: 30px;
      }
    }
  }
}

.contact_us_wrapper {
  padding: var(--wrapper_padding);
  min-height: 500px;
  justify-content: center;

  .contact_us_inner {
    width: var(--inner_width);

    .contact_us_title_container {
      width: 800px;
      margin-bottom: 95px;

      div {
        margin-right: 200px;
        width: 370px;

        .section_title {
          font-size: 32px;
        }

        .section_caption {
          margin-bottom: 8px;
        }
      }

      .description {
        width: 250px;
        align-self: flex-end;
      }
    }

    .contacts_form {
      .form_title {
        margin-bottom: 32px;
        font-size: 24px;

        span {
          margin-right: 16px;
        }
      }

      .subject_container {
        margin-right: 120px;
      }

      .subject {
        display: grid;
        width: 436px;
        grid-template-columns:repeat(auto-fit, 210px);
        grid-gap: 16px;

        input {
          display: none;

          &:hover + label, &:checked + label {
            background-color: rgba(235, 240, 255, 1);
            border-color: rgba(71, 119, 251, 1);
          }
        }

        label {
          transition: 0.3s;
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          padding: 24px;
          align-items: center;
          width: 210px;
          height: 210px;
          border: 1px solid rgba(220, 221, 224, 1);

          img {
            margin-bottom: 10px;
          }

          .description {

            text-align: center;
          }
        }
      }

      .user_information {
        width: 544px;

        div:first-of-type {
          input, textarea {
            border: 1px solid rgba(220, 221, 224, 1);
            padding: 0 16px;
            width: 544px;

            &:focus {
              border: 1px solid rgba(177, 178, 184, 1);
            }
          }

          input[type="text"] {
            margin-bottom: 16px;
            padding: 0 16px;
            height: 48px;
          }

          .wrong_email {
            position: relative;
            display: block;

            &::before {
              font-size: 14px;
              content: "Email address seems invalid.";
              position: absolute;
              display: block;
              bottom: 1px;
              left: 0;
              color: rgba(255, 85, 93, 1);
            }

            &::after {
              cursor: text;
              content: "";
              display: block;
              position: absolute;
              width: 16px;
              height: 16px;
              top: 16px;
              right: 16px;
              background-image: url("../uploads/images/alert.svg");
            }

            input {
              border-color: rgba(255, 85, 93, 1);

              &:focus {
                border-color: rgba(255, 85, 93, 1);
              }
            }
          }

          .wrong {
            position: relative;
            display: block;

            &::before {
              font-size: 14px;
              content: "This field is required.";
              position: absolute;
              display: block;
              bottom: 1px;
              left: 0;
              color: rgba(255, 85, 93, 1);
            }

            &::after {
              cursor: text;
              content: "";
              display: block;
              position: absolute;
              width: 16px;
              height: 16px;
              top: 16px;
              right: 16px;
              background-image: url("../uploads/images/alert.svg");

            }

            input {
              border-color: rgba(255, 85, 93, 1);

              &:focus {
                border-color: rgba(255, 85, 93, 1);
              }
            }
          }

          textarea {
            font-family: 'DM Sans', sans-serif;
            padding-top: 12px;
            resize: none;
            height: 190px;
            vertical-align: top;
            margin-bottom: 24px;
          }
        }

        div:nth-child(2) {
          align-items: center;
          justify-content: space-between;

          div {
            width: 300px;

            input[type="checkbox"] {
              width: 24px;
              height: 24px;
              margin-right: 12px;
            }


            label {
              position: relative;
              margin-right: 10px;

              &.wrong {
                &:before {
                  content: "You have to agree";
                  bottom: -16px;
                  left: -36px;
                }

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}


#footer_menu {
  background-color: rgba(39, 45, 61, 1);
}

.footer_menu_wrapper {
  border-bottom: 1px solid rgba(103, 108, 122, 1);
  justify-content: center;
  padding: var(--wrapper_padding);
  min-height: 100px;

  .footer_menu_inner {
    justify-content: space-between;
    width: 1100px;
    font-size: 14px;

    .logo_container {
      margin-right: 15px;

      img {
        cursor: pointer;
        margin-bottom: 8px;
      }

      width: 150px;
    }

    .social_container {
      a {
        &:not(:last-child) {
          margin-right: 12px;
        }

        img {
          transition: 0.2s;

          &:hover {
            transform: scale(1.2);
          }

          width: 24px;
          height: 24px;
        }
      }
    }

    .footer_nav_list {
      margin-right: 15px;

      li {
        height: 40px;

        &:not(:last-child) {
          margin-right: 32px;
        }

        a {
          &:hover {
            color: rgba(71, 119, 251, 1);
            font-weight: 500;
          }

          display: flex;
          align-items: center;
          height: 100%;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}

.footer_info {
  min-height: 70px;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    height: 40px;

    &:hover {
      color: rgba(71, 119, 251, 1);
    }

    &:not(:first-child) {
      text-decoration: underline;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}


@media (max-width: 1355px) {
  :root {
    --wrapper_padding: 65px;
    --inner_width: 640px;
  }
  .button__menu {
    display: flex;
  }
  .home_page_nav {
    display: none;
  }
  .home_page_wrapper {
    align-items: center;
    background: none;

    .link__mailto {
      display: none;
    }

    .home_page_inner {
      padding-top: 100px;
      display: flex;
      flex-wrap: wrap-reverse;
      margin: 0;
      width: var(--inner_width);

      img[alt="Slash Soft"] {
        display: unset;
      }

      img {
        margin: 0;
      }

      .features {
        display: none;
      }

      .about_us {
        margin: 0;
      }
    }
  }

  .services_wrapper {
    .services_inner {
      .capabilities {
        .capability {
          flex-direction: column;
          align-items: start;
          padding: 32px;

          & :nth-child(-n+2) {
            margin-right: 0;
          }
        }
      }
    }
  }
  .about_us_wrapper {
    flex-direction: column;
    align-items: center;

    .about_us_container {
      margin: 0 0 45px 0;
      width: var(--inner_width);
    }

    .about_us_advantages {
      width: var(--inner_width);
    }
  }

  .cases_wrapper {
    .cases_inner {
      .slider_container {
        .slider {
          .offer_specification {
            width: var(--inner_width);
            flex-direction: column;

            img {
              margin: 0 0 45px 0;
            }
          }

          .offer_result {
            flex-direction: column;

            .offer_result_description {
              margin: 0 0 45px 0;
              width: var(--inner_width);
            }

            .offer_discus {
              flex-direction: row;
              width: 100%;

              .offer_discus_title {
                font-size: 20px;
                width: 200px;
              }
            }
          }
        }
      }
    }
  }

  .workflow_wrapper {
    .workflow_inner {
      position: relative;

      .workflow_stages {
        padding-left: 83px;
        width: var(--inner_width);
        display: block;

        .stage_cycle {
          position: absolute;
          left: 0;
          top: 455px;

          .stage_line {
            height: 486px;
          }

          float: left;
          margin-right: 18px;
        }

        img {
          &:not(:first-child) {
            margin-top: 48px;
            margin-bottom: 16px;
          }

          &:first-child {
            margin-bottom: 48px;
          }

          width: 442px;
          height: 303px;
        }

        .stage_description:last-child {
          .dot:not(:first-child) {
            margin-left: 83px;
          }
        }
      }
    }
  }

  .technology_wrapper {
    .technology_inner {
      .technology_slider_container {
        .technology_slide {
          min-width: 640px;
          grid-template-columns:repeat(auto-fit, 147px);
          grid-column-gap: 16px;

          img {
            width: 148px;
            height: 82px;
          }
        }
      }
    }
  }


  .contact_us_wrapper {
    .contact_us_inner {
      .contact_us_title_container {
        width: 100%;

        div {
          width: 400px;
          margin-right: 16px;
        }
      }

      .contacts_form {
        flex-direction: column;

        .subject_container {
          margin-right: 0;

          .subject {
            margin-bottom: 48px;
            width: 100%;
            margin-right: 0;
            grid-template-columns:repeat(auto-fit, 148px);
            grid-column-gap: 16px;

            label {
              padding: 10px;
              width: 148px;
              height: 148px;

              .description {
                font-size: 14px;
              }

              img {
                width: 50%;
              }
            }
          }
        }

        .user_information {
          width: 100%;

          div:first-child {
            .form_title {
              width: 640px;
            }

            display: flex;
            flex-wrap: wrap;

            input {
              width: 313px;

              &[name="Full Name"] {
                margin-right: 13px;
              }
            }

            textarea {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .footer_menu_wrapper {
    .footer_menu_inner {
      .logo_container {
        width: 200px;
      }

      .footer_nav_list {
        flex-wrap: wrap;
        width: 240px;

        li {
          height: 30px;
          width: 80px;
        }
      }
    }
  }
}


@media (max-width: 767px) {
  :root {
    --inner_width: 311px;
    --wrapper_padding: 30px 15px;
  }


  .button__menu {
    right: 15px;
    top: 30px;
  }

  .home_page_image_container {
    .home_page_gradient {
      width: 800px;
      top: -200px;
      left: -250px;
      z-index: -1;
    }
  }

  .description {
    font-size: 14px;
  }

  .section_title {
    font-size: 24px;
  }

  .home_page_wrapper {

    .home_page_inner {
      .about_us {
        width: var(--inner_width);

        .description {
          margin-bottom: 32px;
        }
      }

      .burger_menu {
        width: 211px;
      }

      img[alt="Main Screen"] {
        width: 311px;
        height: 255px;
      }

      .button__transparent {
        border-radius: 50%;
        padding: 0;
        width: 50px;
        height: 50px;

        span {
          display: none;
        }
      }
    }
  }

  .services_wrapper {
    .services_inner {
      .section_title {
        font-size: 24px;
        margin-bottom: 48px;
      }

      .capabilities {
        .capability {
          padding: 20px;

          img {
            width: 271px;
            height: 177px;
          }
        }
      }
    }
  }

  .about_us_wrapper {
    .about_us_container {
      .section_title {
        font-size: 24px;
      }

      .description {
        font-size: 16px;
      }
    ;
    }

    .about_us_advantages {
      width: var(--inner_width);
    }
  }

  .cases_wrapper {
    .cases_inner {
      .cases_container {
        margin-bottom: 48px;

        .section_title {
          width: 311px;
          font-size: 24px;
        }
      }

      .solution_offer {
        .solution_title {
          width: 180px;
          font-size: 18px;
          align-self: center;
        }

        button {
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .slider_container {
        .slider {
          .offer_specification {
            img {
              width: 311px;
              height: 207px;
            }
          }

          .offer_result {
            .offer_discus {
              flex-direction: column;

              .offer_discus_title {
                margin-bottom: 40px;
              }
            }
          }
        }
      }
    }
  }

  .workflow_wrapper {
    .workflow_inner {
      .workflow_container {
        .section_title {
          font-size: 24px;
        }
      }

      .workflow_stages {
        overflow: scroll;
        padding: 0;
        display: grid;
        grid-template-columns:311px 311px 311px;
        grid-template-rows: 213px auto auto;
        grid-column-gap: 15px;
        grid-row-gap: 24px;

        .stage_cycle {
          position: static;
          grid-row: 2/3;
          grid-column: 1/-1;
          flex-direction: row;

          .stage_circle {
            min-width: 56px;
            min-height: 56px;
          }

          .stage_line {
            width: 260px;
            height: 1px;
          }

        }

        img {
          width: 311px;
          height: 213px;

          &:nth-child(-n+3) {
            margin: 0;
          }

          &:not(:first-child) {
            margin: 0;
          }
        }

        .stage_description {
          grid-row: 3/4;

          &:last-child {
            .dot:not(:first-child) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .technology_wrapper {
    .technology_inner {
      .technology_title_container {
        margin-bottom: 48px;

        .section_title {
          font-size: 24px;
          margin-bottom: 0;
        }
      }

      .technology_options {
        padding-left: 24px;
        margin-bottom: 32px;
        border-bottom: none;
        height: fit-content;
        width: 311px;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        button {
          height: 40px;
          margin: 0;

          &:not(:last-child) {
            margin-right: 0;
          }

          &.underline {
            &::after {
              width: 16px;
              height: 1px;
              top: 17px;
              left: -24px;
              right: unset;
              bottom: unset;
            }
          }
        }
      }

      .technology_slider_container {
        .technology_slide {
          min-width: 311px;
          grid-template-columns:repeat(auto-fit, 147px);
          grid-gap: 16px;

          img {
            width: 147px;
            height: 82px;
          }
        }
      }
    }
  }

  .our_team_wrapper {
    .our_team_inner {
      width: 311px;

      .our_team_title_container {
        margin-bottom: 48px;

        .section_title {
          font-size: 24px;
        }
      }

      .our_team_container {
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(auto-fit, 148px);
        justify-content: center;

        .developer {
          width: 148px;

          img {
            width: 148px;
            height: 158px;
          }

          .developers_position {
            font-size: 12px;
          }

          .description {
            font-size: 12px;
          }
        }
      }
    }
  }

  .faq_wrapper {
    .faq_inner {
      .faq_title_container {
        margin-bottom: 48px;

        .section_title {
          font-size: 24px;
          margin-bottom: 0;
        }
      }

      .faq_chat {
        height: 462px;

        .faq_chat_slider {
          .answer {
            width: 100%;
          }

          .question {
            width: 100%;
          }
        }
      }

      .faq_buttons_container {
        height: fit-content;
        padding: 24px 16px;
        flex-direction: column;

        button {
          width: 100%;

          &.button__transparent {
            margin: 0;
          }

          &.button__colored {
            margin-right: 0;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  .contact_us_wrapper {
    .contact_us_inner {
      .contact_us_title_container {
        margin-bottom: 48px;
        flex-direction: column;

        div {
          margin-bottom: 16px;
          width: 100%;
          margin-right: 0;

          .section_title {
            font-size: 24px;
          }
        }

        .description {
          align-self: start;
        }
      }

      .contacts_form {
        .subject_container {
          .subject {
            justify-content: space-between;
            grid-template-columns:repeat(auto-fit, 147px);

            label {
              width: 147px;
              height: 147px;
            }
          }
        }

        .user_information {
          width: 100%;

          div:first-child {
            .form_title {
              width: 100%;
            }

            input {
              width: 311px;

              &[name="Full Name"] {
                margin-right: 0;
              }
            }
          }
        }
      }

      div.flex:last-of-type {
        flex-direction: column;
        align-items: center;

        div {
          flex-direction: row;
          margin-bottom: 26px;
        }

        button {
          width: 100%;
        }
      }
    }
  }

  .footer_menu_wrapper {
    .footer_menu_inner {
      flex-direction: column;

      .logo_container {
        margin-bottom: 48px;
      }

      .footer_nav_list {
        margin-bottom: 48px;
      }
    }

  }
  .footer_info {
    flex-direction: column;
    align-items: start;
    padding: 15px;
  }
}



